<div class="p-4 sm:ml-64 mt-20">

<form (ngSubmit)="onSubmit()" [formGroup]="formProduct">
    <div>
        <label for="">name</label>
        <input type="text" formControlName="name">
        <p
      class="text-red-500"
      *ngIf="formProduct.get('name')?.errors?.['required']"
    >
      Vui long nhap truong nay
    </p>
    </div>
    <div>
        <label for="">categoryId</label>
        <select formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
        </select>
    </div>
    <div>
        <label for="">image</label>
        <input type="text" formControlName="image">
    </div>
    <div>
        <label for="">price</label>
        <input type="number" formControlName="price">
    </div>
    <div>
        <label for="">desc</label>
        <input type="text" formControlName="desc">
    </div>
    <button class="cursor-pointer" type="submit" [disabled]="!formProduct.valid">
        add
    </button>
</form>
</div>