<div class="pt-5">
<footer class="container mx-auto w-[1200px] p-7  bg-gray-200">
    <div class="grid grid-cols-6">
        <div>
            <p class="font-bold">PRODUCTS</p>
            <p class="mt-5">
                Shoes <br>
                Clothing <br>
                Accessories <br>
                New Arrivals <br>
                Release Dates <br>
                Top Sellers <br>
                Outlet <br>
            </p>
        </div>
        <div>
            <p class="font-bold">SPORTS</p>
            <p class="mt-5">
                Football <br>
                Basketball <br>
                Golf <br>
                Gym & Training <br>
                Outdoor <br>
                Rugby <br>
                Running <br>
                Tennis <br>
            </p>
        </div>
        <div>
            <p class="font-bold">COLLECTIONS</p>
            <p class="mt-5">
                Originals <br>
                IVY PARK <br>
                Ultraboost <br>
                NMD <br>
                Gazelle <br>
                Superstar <br>
                Ozweego <br>
            </p>
        </div>
        <div>
            <p class="font-bold">SUPPORT</p>
            <p class="mt-5">
                Help <br>
                Returns & Refunds <br>
                Delivery <br>
                Size Charts <br>
                Student discount <br>
                European Disputes  <br>
                European Disputes <br>
                Imprint <br>
                Modern Slavery Act Transparency <br>
            </p>
        </div>
        <div>
            <p class="font-bold">COMPANY INFO</p>
            <p class="mt-5">
                About Us <br>
                Careers <br>
                Press <br>
                Mobile Apps <br>
                adidas Confirmed <br>
                adidas Blog <br>
                adidas News <br>
                Affiliate Program <br>
                Location Selector <br>
            </p>
        </div>
        <div>
            <p class="font-bold pb-5">FOLLOW US</p>
          <div class="grid grid-cols-4">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enGB/Images/NEWfacebook_image_footer_tcm143-875964.png"
                class="py-1" alt="">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enGB/Images/NEWinstagram_logo-footer_tcm143-875968.png"
                class="py-1" alt="">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enGB/Images/NEWtiktok-black-share-icon1189_tcm143-875969.png"
                class="py-1" alt="">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enGB/Images/NEWyoutube_icon_footer_tcm143-875967.png"
                class="py-1" alt="">
            </div>
        </div>
    </div>
  
</footer>
<div class="bg-gray-700 h-20">
    <div class="pt-8 text-center flex gap-2 justify-center">
        <button class="text-white text-xs">Cookie Settings</button>
        <p class="text-white">|</p>
        <button class="text-white text-xs">Data Settings</button>
        <p class="text-white">|</p>
        <button class="text-white text-xs">Privacy Centre</button>
        <p class="text-white">|</p>
        <button class="text-white text-xs">Cookies</button>
        <p class="text-white">|</p>
        <button class="text-white text-xs">Privacy Notice</button>
        <p class="text-white">|</p>
        <button class="text-white text-xs">Terms and Conditions</button>
    </div>
</div></div>